
# JetBrains ToolBox配下のファイルを全て取得
- name: Find jetbrains files in ~/Library/Application Support/JetBrains/ToolBox
  ansible.builtin.find:
    paths: "~/Library/Application Support/JetBrains/ToolBox"
  register: jetbrains_files

# バックアップ用ディレクトリ作成
- name: Make backup parent directories for jetbrains files
  ansible.builtin.file:
    path: "{{ vars.backup_dir }}/{{ item.path | dirname }}"
    state: directory
    mode: "0755"
  loop: "{{ jetbrains_files.files }}"
  when: not item.islnk

# ファイルをバックアップ
- name: Backup jetbrains files in ~/Library/Application Support/JetBrains/ToolBox
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ vars.backup_dir }}/{{ item.path }}"
    mode: "0644"
  loop: "{{ jetbrains_files.files }}"
  when: not item.islnk

# 元ファイルを削除
- name: Remove jetbrains files in ~/Library/Application Support/JetBrains/ToolBox
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ jetbrains_files.files }}"
  when: not item.islnk

- name: Make jetbrains directory
  ansible.builtin.file:
    path: "~/Library/Application Support/JetBrains/ToolBox"
    state: directory
    mode: "0755"

- name: Make jetbrains symlink
  ansible.builtin.file:
    src: "{{ item }}"
    dest: "{{ item | replace(vars.config_dir + '/jetbrains/Application Support/', '~/Library/Application Support/JetBrains/ToolBox/') }}"
    state: link
  with_fileglob:
    - "{{ vars.config_dir }}/vscode/Application Support/*"
    - "{{ vars.config_dir }}/vscode/Application Support/snippets/*"
