---
- name: Get home dir
  ansible.builtin.command:
    cmd: echo ~
  check_mode: false
  changed_when: false
  register: home_dir

- name: Set home dir
  ansible.builtin.set_fact:
    home_dir: "{{ home_dir.stdout }}"

- name: Set dotfiles dir
  ansible.builtin.set_fact:
    dotfiles_dir: "{{ vars.home_dir }}/projects/github.com/shiron-dev/dotfiles"

- name: Set config dir
  ansible.builtin.set_fact:
    config_dir: "{{ vars.dotfiles_dir }}/config"

- name: Set backup dir
  ansible.builtin.set_fact:
    backup_dir: "{{ vars.dotfiles_dir }}/backup"

- name: Make backup dir
  ansible.builtin.file:
    path: "{{ vars.backup_dir }}"
    state: directory
    mode: "0755"
