---
- name: Get home dir
  ansible.builtin.command:
    cmd: echo ~
  check_mode: false
  changed_when: false
  register: set_facts_home_dir

- name: Set home dir
  ansible.builtin.set_fact:
    set_facts_home_dir: "{{ set_facts_home_dir.stdout }}"

- name: Set dotfiles dir
  ansible.builtin.set_fact:
    set_facts_dotfiles_dir: "{{ vars.set_facts_home_dir }}/projects/github.com/shiron-dev/dotfiles"

- name: Set config dir
  ansible.builtin.set_fact:
    set_facts_config_dir: "{{ vars.set_facts_dotfiles_dir }}/config"

- name: Set backup dir
  ansible.builtin.set_fact:
    set_facts_backup_dir: "{{ vars.set_facts_dotfiles_dir }}/backup"

- name: Make backup dir
  ansible.builtin.file:
    path: "{{ vars.set_facts_backup_dir }}"
    state: directory
    mode: "0755"
