---
all:
  vars:
    ansible_user: ansible_user
    ansible_python_interpreter: /usr/bin/python3
  children:
    localhost:
      hosts:
        localhost:
          ansible_connection: local
          ansible_python_interpreter: "{{ ansible_playbook_python }}"
