---
- name: Localhost
  hosts: localhost
  connection: local
  gather_facts: false
  roles:
    - role: set_facts
      tags:
        - config
        - gh
        - vscode
    - role: config
      tags:
        - config
    - role: gh
      tags:
        - gh
    - role: vscode
      tags:
        - vscode
